<template>
  <v-toolbar
   color='indigo' dark>
    <v-toolbar-side-icon></v-toolbar-side-icon>
    <v-toolbar-title>PopBanner</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat to='/'>Home</v-btn>
      <v-btn flat to='/add'>Add New Contact</v-btn>
      <v-btn flat>Link Three</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>