<template>
    <v-navigation-drawer
        stateless
        value='true'
    >
        <v-list>
            <v-list-tile>
                <v-list-tile-action>
                    <v-icon>dashboard</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Dashboard</v-list-tile-title>
            </v-list-tile>

            <v-list-tile>
                <v-list-tile-action>
                    <v-icon>bar_chart</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Reporting</v-list-tile-title>
            </v-list-tile>

            <v-list-group
            prepend-icon="settings"
            value='true'
            >

            <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Catalog</v-list-tile-title>
                    </v-list-tile>
            </template>
                    <v-list-tile
                    v-for='(catalog, i) in catalog'
                    :to="catalog[1]"
                    :key="i"
                    @click=""
                    >
                    <v-list-tile-title v-text="catalog[0]"></v-list-tile-title>
                    </v-list-tile>
            </v-list-group>

            <v-list-group
            prepend-icon="settings"
            value='true'
            >

            <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Inventory</v-list-tile-title>
                    </v-list-tile>
            </template>
                    <v-list-tile
                    v-for='(inventory, i) in inventory'
                    :to="inventory[1]"
                    :key="i"
                    @click=""
                    >
                    <v-list-tile-title v-text="inventory[0]"></v-list-tile-title>
                    </v-list-tile>
            </v-list-group>

             <v-list-group
            prepend-icon="settings"
            value='true'
            >

            <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Attributes</v-list-tile-title>
                    </v-list-tile>
            </template>
                    <v-list-tile
                    v-for='(attributes, i) in attributes'
                    :to="attributes[1]"
                    :key="i"
                    @click=""
                    >
                    <v-list-tile-title v-text="attributes[0]"></v-list-tile-title>
                    </v-list-tile>
            </v-list-group>

             <v-list-group
            prepend-icon="settings"
            value='true'
            >

            <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Order Management</v-list-tile-title>
                    </v-list-tile>
            </template>
                    <v-list-tile
                    v-for='(orderManagement, i) in orderManagement'
                    :to="orderManagement[1]"
                    :key="i"
                    @click=""
                    >
                    <v-list-tile-title v-text="orderManagement[0]"></v-list-tile-title>
                    </v-list-tile>
            </v-list-group>

             <v-list-group
            prepend-icon="settings"
            value='true'
            >

            <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Repair Service</v-list-tile-title>
                    </v-list-tile>
            </template>
                    <v-list-tile
                    v-for='(repairService, i) in repairService'
                    :to="repairService[1]"
                    :key="i"
                    @click=""
                    >
                    <v-list-tile-title v-text="repairService[0]"></v-list-tile-title>
                    </v-list-tile>
            </v-list-group>

             <v-list-group
            prepend-icon="settings"
            value='true'
            >

            <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Customer Center</v-list-tile-title>
                    </v-list-tile>
            </template>
                    <v-list-tile
                    v-for='(customerCenter, i) in customerCenter'
                    :to="customerCenter[1]"
                    :key="i"
                    @click=""
                    >
                    <v-list-tile-title v-text="customerCenter[0]"></v-list-tile-title>
                    </v-list-tile>
            </v-list-group>

             <v-list-group
            prepend-icon="settings"
            value='true'
            >

            <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Wholesale</v-list-tile-title>
                    </v-list-tile>
            </template>
                    <v-list-tile
                    v-for='(wholesale, i) in wholesale'
                    :to="wholesale[1]"
                    :key="i"
                    @click=""
                    >
                    <v-list-tile-title v-text="wholesale[0]"></v-list-tile-title>
                    </v-list-tile>
            </v-list-group>

             <v-list-group
            prepend-icon="settings"
            value='true'
            >

            <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Content</v-list-tile-title>
                    </v-list-tile>
            </template>
                    <v-list-tile
                    v-for='(content, i) in content'
                    :to="content[1]"
                    :key="i"
                    @click=""
                    >
                    <v-list-tile-title v-text="content[0]"></v-list-tile-title>
                    </v-list-tile>
            </v-list-group>

             <v-list-group
            prepend-icon="settings"
            value='true'
            >

            <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Banners</v-list-tile-title>
                    </v-list-tile>
            </template>
                    <v-list-tile
                    v-for='(banners, i) in banners'
                    :to="banners[1]"
                    :key="i"
                    @click=""
                    >
                    <v-list-tile-title v-text="banners[0]"></v-list-tile-title>
                    </v-list-tile>
            </v-list-group>

             <v-list-group
            prepend-icon="settings"
            value='true'
            >

            <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>System</v-list-tile-title>
                    </v-list-tile>
            </template>
                    <v-list-tile
                    v-for='(system, i) in system'
                    :to="system[1]"
                    :key="i"
                    @click=""
                    >
                    <v-list-tile-title v-text="system[0]"></v-list-tile-title>
                    </v-list-tile>
            </v-list-group>

             <v-list-group
            prepend-icon="settings"
            value='true'
            >

            <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-title>Sales Reports</v-list-tile-title>
                    </v-list-tile>
            </template>
                    <v-list-tile
                    v-for='(salesReports, i) in salesReports'
                    :to="salesReports[1]"
                    :key="i"
                    @click=""
                    >
                    <v-list-tile-title v-text="salesReports[0]"></v-list-tile-title>
                    </v-list-tile>
            </v-list-group>

            <v-list-tile>
                <v-list-tile-action>
                    <v-icon>settings</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Reporting</v-list-tile-title>
            </v-list-tile>

            
        </v-list>
    </v-navigation-drawer>
</template>    

<script>
  export default {
    data: () => ({
      catalog: [
        ['Categories', '/categories'],
        ['Subnav', 'subnav'],
        ['Products', '/products'],
        ['Parts', '/parts'],
        ['Combo', '/combo'],
        ['Reviews', '/reviews'],
        ['Clearances', '/clearances']
      ],
      inventory: [
          ['Backorders', '/backorders'],
          ['Receivings', '/receivings'],
          ['By Product', '/product'],
          ['By Location', '/location'],
          ['Inventory Status', '/inventorystatus'],
          ['Returns', '/returns'],
          ['Transfer Orders', '/transferorders']
      ],
      attributes: [
          ['Specs', '/specs'],
          ['Colors', '/colors'],
          ['Product Options', '/productoptions']
      ],
      orderManagement: [
          ['All Orders', '/allorders'],
          ['Web Orders', '/weborders'],
          ['Incomplete Orders', '/incompleteorders'],
          ['Status Management', '/statusmanagement'],
          ['Preorders', '/preorders']
      ],
      repairService: [
          ['Tickets', '/tickets'],
          ['Received Tickets', 'receivedtickets'],
          ['Approved Tickets', '/approvedtickets'],
          ['Submitted Tickets', '/submittedtickets'],
          ['Ticket Status', '/ticketstatus'],
          ['Ticket Action', '/ticketactions'],
          ['Email Types', '/emailtypes'],
          ['Service Products', '/serviceproducts']
      ],
     customerCenter: [
         ['Wishlist', '/wishlist'],
         ['Customer Accounts', '/customeraccounts'],
         ['Contacts', '/contacts'],
         ['Newsletter', '/newsletter']
     ],
     wholesale: [
         ['Quotes', '/quotes'],
         ['Invoices', '/invoices'],
         ['Wholesales', '/wholesales'],
         ['Wholesale Orders', '/wholesaleorders']
     ],
     content: [
         ['Cms', '/cms'],
         ['Faqs', '/faqs'],
         ['Blogs', '/blogs']
     ],
     banners: [
         ['Main', '/main'],
         ['Featured', '/featured'],
         ['Selection', '/selection'],
         ['Deal of the Week', '/dealoftheweek']
     ],
     system: [
         ['Abandoned Cart', '/abandonedcart'],
         ['Change Logs', '/changelogs'],
         ['Coupons', '/coupons'],
         ['Gift Cards', '/giftcards'],
         ['Sales', '/sales'],
         ['Shipping Methods', '/shippingmethods'],
         ['Locations', '/locations'],
         ['Configurations', '/configurations'],
         ['Reports', '/reports']
     ],
     salesReports: [
         ['Sale Reports', '/salereports'],
         ['Location Sale Reports', '/locationsalereports']
     ]
    })
  }
</script>