<template>
<div>
  <admin-toolbar></admin-toolbar>
  <h1> Manage Categories </h1>

  <v-card>
    <v-card-title>
      Categories
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-btn flat color="blue" to='/newcategory'> Add</v-btn>
    <v-data-table
      :headers="headers"
      :items="category"
      :search="search"
    >
      <template v-slot:items="props">
        <td>{{ props.item.name }}</td> 
        <td>{{ props.item.parent_category }}</td>
        <td>{{ props.item.display }}</td>
        
      </template>
      <v-alert v-slot:no-results :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
  <admin-sidebar></admin-sidebar>
  <admin-footer></admin-footer>
</div>
</template>

<script>
import AdminFooter from './AdminFooter'
import AdminSidebar from './AdminSidebar'
import AdminToolbar from './AdminToolbar'
import firebase from 'firebase'
import db from './firebaseInit'

export default {
  components:{AdminFooter,AdminSidebar,AdminToolbar},

data () {
      return {
        search: '',
        headers: [
          
          { text: 'Name', value: 'name' },
          { text: 'Parent', value: 'parent_category' },
          { text: 'Display', value: 'display' },
          
        ],

         category: [],
        
      }
    },
    created() {
      this.getCategory()
    },

    methods: {
      getCategory() {
        db.collection('category').get().then(querySnapshot => {
          const category = []
          querySnapshot.forEach(doc => {
            category.push(doc.data())
          })
          this.category = category
        })
      }
    }
  }
</script>