<template>
<div>
  <admin-toolbar></admin-toolbar>
  <h1> Manage Pages </h1>

  <v-card>
    <v-card-title>
      Page
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-btn flat color="blue" to='/newcms'> Add</v-btn>
    <v-data-table
      :headers="headers"
      :items="cms"
      :search="search"
    >
      <template v-slot:items="props">
        <td>{{ props.item.page }}</td> 
        <td>{{ props.item.url }}</td>
        
        
      </template>
      <v-alert v-slot:no-results :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
  <admin-sidebar></admin-sidebar>
  <admin-footer></admin-footer>
</div>
</template>

<script>
import AdminFooter from './AdminFooter'
import AdminSidebar from './AdminSidebar'
import AdminToolbar from './AdminToolbar'
import firebase from 'firebase'
import db from './firebaseInit'

export default {
  components:{AdminFooter,AdminSidebar,AdminToolbar},

data () {
      return {
        search: '',
        headers: [
          
          { text: 'page', value: 'page' },
          { text: 'url', value: 'url' },
        ],

         cms: [],
        
      }
    },
    created() {
      this.getCms()
    },

    methods: {
      getCms() {
        db.collection('cms').get().then(querySnapshot => {
          const cms = []
          querySnapshot.forEach(doc => {
            cms.push(doc.data())
          })
          this.cms = cms
        })
      }
    }
  }
</script>