<template>
<div>
  <admin-toolbar></admin-toolbar>
  <h1> Manage Contacts </h1>

  <v-card>
    <v-card-title>
      Contacts
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-btn flat color="blue" to='/newcontact'> Add</v-btn>
    <v-data-table
      :headers="headers"
      :items="contact"
      :search="search"
    >
      <template v-slot:items="props">
        <td>{{ props.item.id }}</td> 
        <td>{{ props.item.status }}</td>
        <td>{{ props.item.created }}</td>
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.email }}</td>
        <td>{{ props.item.subject }}</td>
        <td>{{ props.item.status }}</td>
        
      </template>
      <v-alert v-slot:no-results :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
  <admin-sidebar></admin-sidebar>
  <admin-footer></admin-footer>
</div>
</template>

<script>
import AdminFooter from './AdminFooter'
import AdminSidebar from './AdminSidebar'
import AdminToolbar from './AdminToolbar'
import firebase from 'firebase'
import db from './firebaseInit'

export default {
  components:{AdminFooter,AdminSidebar,AdminToolbar},

data () {
      return {
        search: '',
        headers: [
          {
            text: 'id',
            align: 'left',
            sortable: true,
            value: 'id'
          },
        
          
          { text: 'status', value: 'status' },
          { text: 'date', value: 'created' },
          { text: 'name', value: 'name' },
          { text: 'email', value: 'email' },
          { text: 'subject', value: 'subject'},
          { text: 'reply status', value: 'status'}
        ],

         contact: [],
        
      }
    },
    created() {
      this.getContact()
    },

    methods: {
      getContact() {
        db.collection('contact').get().then(querySnapshot => {
          const contact = []
          querySnapshot.forEach(doc => {
            contact.push(doc.data())
          })
          this.contact = contact
        })
      }
    }
  }
</script>