<template>
    <section class='container'>
        <admin-toolbar></admin-toolbar>
        <h1>Add new Contact</h1>
        <form @submit.prevent='savedContact'>

            <div class='field'>
                <label class='label'>Name</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="Name" v-model="name" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>Phone Number</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="Phone Number" v-model='phone' required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>Email Address</label>
                <div class='control'>
                    <input class='input' type='email' placeholder="Email" v-model="email" required>
                </div>
            </div>

            <div class='field'>
                <div class='control'>
                    <button type='submit' class='button is-link'>Submit</button>
                </div>
            </div>
        </form>
        <admin-sidebar></admin-sidebar>
        <admin-footer></admin-footer>
    </section>
</template>

<style scoped>

    section {
        height: 100vh;
    }

    h1 {
        font-size: 30px;
        margin: 30px 0;
    }

    .input {
        height: 40px;
    }
    
</style>

<script>
    import db from './firebaseInit'
    import AdminFooter from './AdminFooter'
    import AdminSidebar from './AdminSidebar'
    import AdminToolbar from './AdminToolbar'
    export default {
        components: {AdminFooter,AdminSidebar,AdminToolbar},
        name: 'new-contact',
        data() {
            return {
               name: null,
               email: null,
               phone: null,
               active: null,


            }
        },
        methods: {
            savedContact () {
                db.collection('contact').add({
                    name: this.name,
                    email: this.email,
                    phone: this.phone,
                    slug: this.generateUUID(),
                    created: new Date(),
                    active: '',
                    admin_reply: '',
                    answer: '',
                    email_sent: '',
                    message: '',
                    product_id: '',
                    status: '',
                    subject: '',
                    viewed: ''
                })
                .then(function (docRef) {
                    console.log('write success! with ID:', docRef.id)
                })
                .catch(function(error) {
                    console.error('write failed:', error)
                })
            },
            generateUUID() {
                let d = new Date().getTime()
                let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    let r = (d + Math.random() * 16) % 16 | 0
                    d= Math.floor(d / 16)
                    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16)
                })
                return uuid
            }
        }
    }
    </script>