<template>
    <section class='container'>
        <admin-toolbar></admin-toolbar>
        <h1>Add new Category</h1>
        <form @submit.prevent='savedCategory'>

            <div class='field'>
                <label class='label'>acc_menu</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="acc_menu" v-model="acc_menu" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>active</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="active" v-model='active' required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>alias</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="alias" v-model="alias" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>banner</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="banner" v-model="banner" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>banner_description</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="banner_description" v-model="banner_description" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>banner_link</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="banner_link" v-model="banner_link" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>banner_text_color</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="banner_text_color" v-model="banner_text_color" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>collection</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="collection" v-model="collection" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>coming_soon</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="coming_soon" v-model="coming_soon" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>coupon_block</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="coupon_block" v-model="coupon_block" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>defaul_product</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="defaul_product" v-model="defaul_product" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>description</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="description" v-model="description" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>display</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="display" v-model="display" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>display_order</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="display_order" v-model="display_order" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>display_style</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="display_style" v-model="display_style" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>enterprise_cat</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="enterprise_cat" v-model="enterprise_cat" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>featured_category</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="featured_category" v-model="featured_category" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>featured_product</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="featured_product" v-model="featured_product" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>hide_banner_text</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="hide_banner_text" v-model="hide_banner_text" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>icon</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="icon" v-model="icon" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>info_banners</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="info_banners" v-model="info_banners" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>meta_description</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="meta_description" v-model="meta_description" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>meta_keywords</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="meta_keywords" v-model="meta_keywords" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>meta_title</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="meta_title" v-model="meta_title" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>name</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="name" v-model="name" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>new_arrivals</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="new_arrivals" v-model="new_arrivals" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>parent_category</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="parent_category" v-model="parent_category" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>product_preview_ids</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="product_preview_ids" v-model="product_preview_ids" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>selection_cat</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="selection_cat" v-model="selection_cat" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>title</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="title" v-model="title" required>
                </div>
            </div>

            <div class='field'>
                <div class='control'>
                    <button type='submit' class='button is-link'>Submit</button>
                </div>
            </div>
        </form>
        <admin-sidebar></admin-sidebar>
        <admin-footer></admin-footer>
    </section>
</template>

<style scoped>

    section {
        height: 100vh;
    }

    h1 {
        font-size: 30px;
        margin: 30px 0;
    }

    .input {
        height: 40px;
    }
    
</style>

<script>
    import db from './firebaseInit'
    import AdminFooter from './AdminFooter'
    import AdminSidebar from './AdminSidebar'
    import AdminToolbar from './AdminToolbar'
    export default {
        components: {AdminFooter,AdminSidebar,AdminToolbar},
        name: 'new-category',
        data() {
            return {
                acc_menu: null,
                active: null,
                alias: null,
                banner: null,
                banner_description: null,
                banner_link: null,
                banner_text_color: null,
                collection: null,
                coming_soon: null,
                coupon_block: null,
                default_product: null,
                description: null,
                display: null,
                display_order: null,
                display_style: null,
                enterprise_cat: null,
                featured_category: null,
                featured_product: null,
                hide_banner_text: null,
                icon: null,
                info_banners: null,
                meta_description: null,
                meta_keywords: null,
                meta_title: null,
                name: null,
                new_arrivals: null,
                parent_category: null,
                product_preview_ids: null,
                selection_cat: null,
                title: null

            }
        },
        methods: {
            savedCategory () {
                db.collection('category').add({
                    acc_menu: this.acc_menu,
                    active: this.active,
                    alias: this.alias,
                    banner: this.banner,
                    banner_description: this.banner_description,
                    banner_link: this.banner_link,
                    banner_text_color: this.banner_text_color,
                    collection: this.collection,
                    coming_soon: this.coming_soon,
                    coupon_block: this.coupon_block,
                    default_product: this.default_product,
                    description: this.description,
                    display: this.display,
                    display_order: this.display_order,
                    display_style: this.display_style,
                    enterprise_cat: this.enterprise_cat,
                    featured_category: this.featured_category,
                    featured_product: this.featured_product,
                    hide_banner_text: this.hide_banner_text,
                    icon: this.icon,
                    info_banners: this.info_banners,
                    meta_description: this.meta_description,
                    meta_keywords: this.meta_keywords,
                    meta_title: this.meta_title,
                    name: this.name,
                    new_arrivals: this.new_arrivals,
                    parent_category: this.parent_category,
                    product_preview_ids: this.product_preview_ids,
                    selection_cat: this.selection_cat,
                    title: this.title,
                    slug: this.generateUUID(),
                    created: new Date(),
                    
                })
                .then(function (docRef) {
                    console.log('write success! with ID:', docRef.id)
                })
                .catch(function(error) {
                    console.error('write failed:', error)
                })
            },
            generateUUID() {
                let d = new Date().getTime()
                let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    let r = (d + Math.random() * 16) % 16 | 0
                    d= Math.floor(d / 16)
                    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16)
                })
                return uuid
            }
        }
    }
    </script>