<template>
    <section class='container'>
    <div id="app">
        <ckeditor 
        :editor="editor"
         v-model="editorData"
          :config="editorConfig"
          ></ckeditor>
    </div>
        <admin-toolbar></admin-toolbar>
        <h1>Add new Page</h1>
        <form @submit.prevent='savedCms'>

            <div class='field'>
                <label class='label'>banner_image</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="banner_image" v-model="banner_image" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>content</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="content" v-model='content' required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>meta_description</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="meta_description" v-model="meta_description" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>meta_keywords</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="meta_keywords" v-model="meta_keywords" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>meta_title</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="meta_title" v-model="meta_title" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>page</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="page" v-model="page" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>title</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="title" v-model="title" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>url</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="url" v-model="url" required>
                </div>
            </div>

            <div class='field'>
                <div class='control'>
                    <button type='submit' class='button is-link'>Submit</button>
                </div>
            </div>
        </form>
        <admin-sidebar></admin-sidebar>
        <admin-footer></admin-footer>
    </section>
</template>

<style scoped>

    section {
        height: 100vh;
    }

    h1 {
        font-size: 30px;
        margin: 30px 0;
    }

    .input {
        height: 40px;
    }
    
</style>

<script>
    import db from './firebaseInit'
    import AdminFooter from './AdminFooter'
    import AdminSidebar from './AdminSidebar'
    import AdminToolbar from './AdminToolbar'
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
    export default {
        components: {AdminFooter,AdminSidebar,AdminToolbar},
        name: 'app',
        name: 'new-cms',
        data() {
            return {
                editor: ClassicEditor,
                editorData: '<p>Content of the editor.</p>',
                editorConfig: {
                    toolbar: ['bold', 'italic', '|', 'link']
                }
            },
            {
               banner_image: null,
               content: null,
               meta_description: null,
               meta_keywords: null,
               meta_title: null,
               page: null,
               title: null,
               url: null
               
            }
        },
        methods: {
            savedCms () {
                db.collection('cms').add({

                    banner_image: this.banner_image,
                    content: this.content,
                    created: new Date(),
                    meta_description: this.meta_description,
                    meta_keywords: this.meta_keywords,
                    meta_title: this.meta_title,
                    page: this.page,
                    slug: this.generateUUID(),
                    title: this.title,
                    url: this.url,
                    
                })
                .then(function (docRef) {
                    console.log('write success! with ID:', docRef.id)
                })
                .catch(function(error) {
                    console.error('write failed:', error)
                })
            },
            generateUUID() {
                let d = new Date().getTime()
                let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    let r = (d + Math.random() * 16) % 16 | 0
                    d= Math.floor(d / 16)
                    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16)
                })
                return uuid
            }
        }
    }
    </script>