<template>
    <section class='container'>
        <admin-toolbar></admin-toolbar>
        <h1>Add Product</h1>
        <form @submit.prevent='savedProduct'>

            <div class='field'>
                <label class='label'>active</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="active" v-model="active" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>age_group</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="age_group" v-model='age_group' required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>alias</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="alias" v-model="alias" required>
                </div>
            </div>


            <div class='field'>
                <label class='label'>availability</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="availability" v-model="availability" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>banner</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="banner" v-model="banner" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>brand</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="brand" v-model="brand" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>bundle_products</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="bundle_products" v-model="bundle_products" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>color</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="color" v-model="color" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>condition</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="condition" v-model="condition" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>deal_msg</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="deal_msg" v-model="deal_msg" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>default_color_id</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="default_color_id" v-model="default_color_id" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>description</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="description" v-model="description" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>details</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="details" v-model="details" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>display_banner</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="display_banner" v-model="display_banner" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>ean</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="ean" v-model="ean" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>eta</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="eta" v-model="eta" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>feature_1</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="feature_1" v-model="feature_1" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>feature_2</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="feature_2" v-model="feature_2" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>feature_3</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="feature_3" v-model="feature_3" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>feature_4</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="feature_4" v-model="feature_4" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>feature_image_1</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="feature_image_1" v-model="feature_image_1" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>feature_image_2</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="feature_image_2" v-model="feature_image_2" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>feature_name_1</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="feature_name_1" v-model="feature_name_1" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>feature_name_2</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="feature_name_2" v-model="feature_name_2" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>feature_name_3</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="feature_name31" v-model="feature_name31" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>feature_name_4</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="feature_name_4" v-model="feature_name_4" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>featured_image</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="featured_image" v-model="featured_image" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>gender</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="gender" v-model="gender" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>has_sku</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="has_sku" v-model="has_sku" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>heel_height</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="heel_height" v-model="heel_height" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>height</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="height" v-model="height" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>image_alt</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="image_alt" v-model="image_alt" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>length</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="length" v-model="length" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>linked_list</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="linked_list" v-model="linked_list" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>linked_name</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="linked_name" v-model="linked_name" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>made_to_order</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="made_to_order" v-model="made_to_order" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>menu_color</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="menu_color" v-model="menu_color" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>menu_name</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="menu_name" v-model="menu_name" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>meta_description</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="meta_description" v-model="meta_description" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>meta_keywords</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="meta_keywords" v-model="meta_keywords" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>meta_title</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="meta_title" v-model="meta_title" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>msrp</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="msrp" v-model="msrp" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>name</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="name" v-model="name" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>options</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="options" v-model="options" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>parent_variant</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="parent_variant" v-model="parent_variant" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>part_number</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="part_number" v-model="part_number" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>preorder</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="preorder" v-model="preorder" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>price</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="price" v-model="price" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>quantity</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="quantity" v-model="quantity" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>related_products</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="related_products" v-model="related_products" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>remark</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="remark" v-model="remark" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>repair_product</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="repair_product" v-model="repair_product" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>sale_icon</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="sale_icon" v-model="sale_icon" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>size</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="size" v-model="size" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>sku</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="sku" v-model="sku" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>sole</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="sole" v-model="sole" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>specs</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="specs" v-model="specs" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>stock_available_status</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="stock_available_status" v-model="stock_available_status" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>sub_brand</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="sub_brand" v-model="sub_brand" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>tags</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="tags" v-model="tags" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>total_sales</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="total_sales" v-model="total_sales" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>type</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="type" v-model="type" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>upc</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="upc" v-model="upc" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>video_link</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="video_link" v-model="video_link" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>weight</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="weight" v-model="weight" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>weight_oz</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="weight_oz" v-model="weight_oz" required>
                </div>
            </div>

            <div class='field'>
                <label class='label'>width</label>
                <div class='control'>
                    <input class='input' type='text' placeholder="width" v-model="width" required>
                </div>
            </div>

            <div class='field'>
                <div class='control'>
                    <button type='submit' class='button is-link'>Submit</button>
                </div>
            </div>

        </form>
        <admin-sidebar></admin-sidebar>
        <admin-footer></admin-footer>
    </section>
</template>

<style scoped>

    section {
        height: 100vh;
    }

    h1 {
        font-size: 30px;
        margin: 30px 0;
    }

    .input {
        height: 40px;
    }
    
</style>

<script>
    import db from './firebaseInit'
    import AdminFooter from './AdminFooter'
    import AdminSidebar from './AdminSidebar'
    import AdminToolbar from './AdminToolbar'
    export default {
        components: {AdminFooter,AdminSidebar,AdminToolbar},
        name: 'new-product',
        data() {
            return {
            active: null,
            age_group: null,
            alias: null,
            availability: null,
            banner: null,
            brand: null,
            bundle_products: null,
            color: null,
            condition: null,
            deal_msg: null,
            default_color_id: null,
            description: null,
            details: null,
            display_banner: null,
            ean: null,
            eta: null,
            feature_1: null,
            feature_2: null,
            feature_3: null,
            feature_4: null,
            feature_image_1: null,
            feature_image_2: null,
            feature_name_1: null,
            feature_name_2: null,
            feature_name_3: null,
            feature_name_4: null,
            featured_image: null,
            gender: null,
            has_sku: null,
            heel_height: null,
            height: null,
            image_alt: null,
            length: null,
            linked_list: null,
            linked_name: null,
            made_to_order: null,
            menu_color: null,
            menu_name: null,
            meta_description: null,
            meta_keywords: null,
            meta_title: null,
            msrp: null,
            name: null,
            options: null,
            parent_variant: null,
            part_number: null,
            preorder: null,
            price: null,
            quantity: null,
            related_products: null,
            remark: null,
            repair_product: null,
            sale_icon: null,
            size: null,
            sku: null,
            sole: null,
            specs: null,
            stock_available_status: null,
            sub_brand: null,
            tags: null,
            total_sales: null,
            type: null,
            upc: null,
            video_link: null,
            weight: null,
            weight_oz: null,
            width: null
            }
        },
        methods: {
            savedProduct () {
                db.collection('product').add({
                    active: this.active,
                    age_group: this.age_group,
                    alias: this.alias,
                    availability: this.availability,
                    banner: this.banner,
                    brand: this.brand,
                    bundle_products: this.bundle_products,
                    color: this.color,
                    created: new Date(),
                    condition: this.condition,
                    deal_msg: this.deal_msg,
                    default_color_id: this.default_color_id,
                    description: this.description,
                    details: this.details,
                    display_banner: this.display_banner,
                    ean: this.ean,
                    eta: this.eta,
                    feature_1: this.feature_1,
                    feature_2: this.feature_2,
                    feature_3: this.feature_3,
                    feature_4: this.feature_4,
                    feature_image_1: this.feature_image_1,
                    feature_image_2: this.feature_image_2,
                    feature_name_1: this.feature_name_1,
                    feature_name_2: this.feature_name_2,
                    feature_name_3: this.feature_name_3,
                    feature_name_4: this.feature_name_4,
                    featured_image: this.featured_image,
                    gender: this.gender,
                    has_sku: this.has_sku,
                    heel_height: this.heel_height,
                    height: this.height,
                    image_alt: this.image_alt,
                    length: this.length,
                    linked_list: this.linked_list,
                    linked_name: this.linked_name,
                    made_to_order: this.made_to_order,
                    menu_color: this.menu_color,
                    menu_name: this.menu_name,
                    meta_description: this.meta_description,
                    meta_keywords: this.meta_keywords,
                    meta_title: this.meta_title,
                    msrp: this.msrp,
                    name: this.name,
                    options: this.options,
                    parent_variant: this.parent_variant,
                    part_number: this.part_number,
                    preorder: this.preorder,
                    price: this.price,
                    quantity: this.quantity,
                    related_products: this.related_products,
                    remark: this.remark,
                    repair_product: this.repair_product,
                    sale_icon: this.sale_icon,
                    size: this.size,
                    sku: this.sku,
                    slug: this.generateUUID(),
                    sole: this.sole,
                    specs: this.specs,
                    stock_available_status: this.stock_available_status,
                    sub_brand: this.sub_brand,
                    tags: this.tags,
                    total_sales: this.total_sales,
                    type: this.type,
                    upc: this.upc,
                    video_link: this.video_link,
                    weight: this.weight,
                    weight_oz: this.weight_oz,
                    width: this.width
                })
                .then(function (docRef) {
                    console.log('write success! with ID:', docRef.id)
                })
                .catch(function(error) {
                    console.error('write failed:', error)
                })
            },
            generateUUID() {
                let d = new Date().getTime()
                let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    let r = (d + Math.random() * 16) % 16 | 0
                    d= Math.floor(d / 16)
                    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16)
                })
                return uuid
            }
        }
    }
    </script>