<template>
<div>
  <admin-toolbar></admin-toolbar>
  <h1> Manage Products </h1>

  <v-card>
    <v-card-title>
      Products
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      </v-card-title>
      <v-btn flat color='blue' to='/newproduct'>Add</v-btn>
      
    <v-data-table
      :headers="headers"
      :items="product"
      :search="search"
    >
      <template v-slot:items="props">
        <td>{{ props.item.id }}</td> 
        <td>{{ props.item.image }}</td>
        <td>{{ props.item.imageAltDescription }}</td>
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.msrp }}</td>
        <td>{{ props.item.price }}</td>
        <td>{{ props.item.type }}</td>
        <td>{{ props.item.availability }}</td>
        
      </template>
      <v-alert v-slot:no-results :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
  <admin-sidebar></admin-sidebar>
  <admin-footer></admin-footer>
</div>
</template>

<script>
import AdminFooter from './AdminFooter'
import AdminSidebar from './AdminSidebar'
import AdminToolbar from './AdminToolbar'
import firebase from 'firebase'
import db from './firebaseInit'

export default {
  components:{AdminFooter,AdminSidebar,AdminToolbar},
  name: 'products',

data () {
      return {
        search: '',
        headers: [
          {
            text: 'id',
            align: 'left',
            sortable: true,
            value: 'slug'
          },
        
          
          { text: 'image', value: 'featured_image' },
          { text: 'image-alt-description', value: 'image_alt' },
          { text: 'name', value: 'name' },
          { text: 'msrp', value: 'msrp' },
          { text: 'price', value: 'price'},
          { text: 'type', value: 'type'},
          { text: 'availability', value: 'availability'}
        ],

         product: [],
         editedProduct: {
             image: '',
             imageAlt: '',
             name: '',
             msrp: '',
             price: '',
             type: '',
             availability: ''
         }
        
      }
    },
    created() {
      this.getProduct()
    },

    methods: {
      getProduct() {
        db.collection('product').get().then(querySnapshot => {
          const product = []
          querySnapshot.forEach(doc => {
            product.push(doc.data())
          })
          this.product = product
        })
      }
    },

  }
</script>